

.img_icon{
    width: 16px;
    height: 16px;
}

.span_type{
    color: #5264cc;
    font-size: 15px;
    margin-left: 10px;
    position: relative;
    bottom: 2px
}

.span_type_black{
    color: #3d3d3d;
    font-size: 15px;
    margin-left: 10px;
    position: relative;
    bottom: 2px
}

.span_type_grey{
    color: darkgrey;
    font-size: 15px;
    margin-left: 10px;
    position: relative;
    bottom: 2px
}

span > strong{
    color: #5264cc;
    font-size: 13px;
}