li{
    background: white;
    padding: 15px;
    height: 62px;
    margin-bottom: 10px;
}

a>div{
    float: left;
}

li img{
    width: 75px;
    height:50px ;
    margin: 3px 8px 3px 0;
}

a>div .div_textCont{
    float: right;
    display: inline-block;
}
