@charset "UTF-8";
/* CSS Document */
    body{
	   font:Arial, Helvetica, sans-serif 13px; margin:0px; background-color:#F5F5F5;
	}
	a{
		text-decoration:none;
	 }
	.clear_both{
		 clear:both;
	}
		
	a:link {text-decoration:none;}      /* unvisited link */
	a:visited {text-decoration:none;}  /* visited link */
	a:hover {text-decoration:none;}  /* mouse over link */
	a:active {text-decoration:none;}  /* selected link */ 

	.cellNameView{
		background-color:#FFF;
		padding:15px;
		
	}
	.cellNameView .leftLabel{
		font-size:15px;
		float:left;
	}
	
	.cellNameView .leftInput{
		padding-left:15px;
		font-size:15px;
		float:left;
	}